[submodule "lib/kcfinder"]
	path = lib/kcfinder
	url = https://github.com/lastorset/kcfinder-lex.git
[submodule "lib/zxcvbn"]
	path = lib/zxcvbn
	url = https://github.com/dropbox/zxcvbn.git
[submodule "lib/ckeditor"]
	path = lib/ckeditor
	url = https://github.com/ckeditor/ckeditor-dev.git
# TODO: May need to reinitialize this
[submodule "lib/php-po2json"]
	path = lib/php-po2json
	url = https://github.com/neam/php-po2json.git
