body {
	font-family: Verdana, Georgia, Times, serif;
	font-size: 14px;
	/*background-color: #FFFFFF;*/
	background-color: #EBEBEB;
	padding: 0px;
	margin-top: .5%;
	margin-right: 3%;
	margin-bottom: 0px;
	margin-left: 3%;
}

#mainTable {
			width: 725px;
			color: #FBE697;
			/*border: 2px solid #000033;*/
			border: none;
			/*/*line-height: 1.5em; /* */
}

#maincontent {
 	width: 500px;	
	border-left: 2px dotted #333;
 	font-size: 14px;
	color: #000033;
	padding: 30px;
 }
 
 #sidebar {
 	width: 100px;
 	font-size: 75%;
 	font-family: sans;
	vertical-align: top;
 	background-color: #d8dbea;
 }
 
 #header {
 	background-color: #6C81C6;
 	color: #FFFFFF;
 	background-image: url(url());
 }
 
 #footer {
 	background-color: #6C81C6;
 	color: #CCCCCC;
	font-size: 12px;
 	background-image:  url(url());
	}

#footer a:link, #footer a:visited {
 	color: #CCCCCC;
 }
 
 td, p, ul {
 	font-family: Verdana, Georgia, Times, serif;
 }
 
 h1:first-child {margin-top: 0;}/*starts first h1 in TD flush top*/
 h2:first-child {margin-top: 0;}/*starts first h2 in TD flush top*/
 h3:first-child {margin-top: 0;}/*starts first h3 in TD flush top*/
 
 h1 { font-size: 160%; }
 h2 { font-size: 140%; }
 h3 { font-size: 75%; }
 
 #contenttable {
 	font-size: 13px;
 	text-align: left;
 	width: 100%;
 	border: 0;
 }
 
 #tableheader {
 	background-color: #d8dbea;
 }
 
 #tablerow {
 	background-color: white;
 }
 
 #tablealtrow {
 	background-color: #e4e9ea;
 }
 
 #sidebar a {
 	/*/*/padding: 3px;
 	display: block;
 	border: 2px dotted #CCC;
 	text-decoration: none;
 	line-height: 1em;
 	width: 100px;
 }
 
 #sidebar a:link, #sidebar a:visited {
 	color: #666;
 }
 
 #sidebar a:hover, #sidebar a:active {
 	color: #FFFFFF;
 	background-color: #6C81C6;
 	border: 2px solid #000;
 }
 
 #sidebar ul {
 	/*/*/padding-left: 3px;
 	margin-left: 3px;
 	list-style-type: none; /* */
 }
 
 #sidebar li {
 	/*/*/margin: 0px 0px 6px 0px; /* */
 }
 
 #current a {
 	color: #FFFFFF !important;
 	/*/*/background-color: #999999!important;
 	border: 2px dotted #999 !important; /* */
 }

.image-right {
	float: right;
	padding: 10px;

}


