@import url(http://fonts.googleapis.com/css?family=Droid+Serif:700);

body {
	font-family: Verdana, Georgia, Times, serif;
	font-size: 14px;
	background-color: #FFFFFF;
	padding: 0px;
	margin-top: .5%;
	margin-right: 3%;
	margin-bottom: 0px;
	margin-left: 3%;
}

header#user-controls {
	display: block;
	text-align: right;
	margin-left: auto;
	margin-right: auto;
	width: 85%;
}

header#user-controls > * {
	text-align: right;
	display: inline-block;
	margin-left: 1em;
}

.karma-indicator span {
	font-size: 125%;
	font-family: Droid serif, serif;
	height: 1em;
}

.karma-indicator img {
	height: 2em;
	vertical-align: text-top;
	width: auto;
}

.karma-indicator a,
.karma-indicator a:visited {
	color: black;
	text-transform: lowercase;
	text-decoration: none;
}

.karma-indicator a:hover > * {
	color: black;
	text-decoration: underline;
}

.member-info .karma-indicator {
	margin-top: 1em;
}

small {
	font-size: smaller;
}

table#karma-explanation {
	margin-left: auto;
	margin-right: auto;
	color: black;
	border-collapse: separate;
	border-spacing: 1em 0;
}

table#karma-explanation td {
	vertical-align: top;
}

table#karma-explanation td.picture {
	width: 20%;
	background-image: url(images/handshake-color.svgz);
	background-repeat: no-repeat;
	background-position: 0 0.2em;
	background-size: 100%;
}

table#karma-explanation td.karma,
table#karma-explanation td.balance {
	width: 30%;
}

table#karma-explanation tr.main-numbers td,
table#karma-explanation tr.calculation td {
	font-family: Droid Serif, serif;
}

table#karma-explanation tr.main-numbers td,
table#karma-explanation tr.calculation table {
	font-size: 80px; /* For UAs that don't support 'rem' */
	font-size: 5rem;
}

table#karma-explanation td.karma {
	text-align: right;
}

table#karma-explanation tr.exposition td {
	text-align: justify;
}

table#karma-explanation tr.calculation table {
	border-collapse: collapse;
	border-bottom: 1px solid black;
	color: black;
	margin-bottom: 16px; /* For UAs that don't support 'rem' */
	margin-bottom: 1rem;
	table-layout: fixed;
}

table#karma-explanation tr.calculation table * {
	font-size: large;
}

table#karma-explanation tr.calculation table td:first-child {
	text-align: left;
}

table#karma-explanation tr.calculation table td:nth-child(2),
table#karma-explanation tr.calculation table td:nth-child(3) {
	text-align: right;
	white-space: pre;
}

table#karma-explanation th {
	display: none; /* Only for accessibility purposes */
}

table {  color: #909090}
th {
	font-size: small;
	text-align: left;
	background-color: #d8dbea;
}
a:active {  color: #909090}
a:hover {  color: #6C81C6}
a:link {
	color: #21ADD; /* changed from #909090 to #21ADD by ejkv */
	font-weight: normal; /* changed bold to normal by ejkv */
}
a:visited {  color: #6C81C6}

body {scrollbar-shadow-color: #6C81C6; scrollbar-highlight-color: #6C81C6; scrollbar-3dlight-color: #6C81C6; scrollbar-darkshadow-color: #6C81C6; scrollbar-track-color: #6C81C6; scrollbar-arrow-color}

#mainTable {
	width: 85%; /* changed from 800px to 85% by ejkv */
	color: #FBE697;
	border: ridge;
	background: #FBFBFB;

			/*/*line-height: 1.5em; /* */
}

#maincontent {
 	width: 650px; /* changed from 600px to 650px by ejkv */	
	border-left: 1px solid #6C81C6;
	border-right: 1px solid #6C81C6;
 	font-size: 13px;
	color: #000033;
	padding: 25px;
 }
 
 #sidebar {
 	width: 105px;
 	font-size: 80%;
 	font-family: sans;
	vertical-align: top;
 	background-color: #E2E4EF;
 }
 
 #header {
 	background-color: #6C81C6;
 	color: #FFFFFF;
 }

 #header h1, #header div {
	color: #d7dbeb;
	text-align: right;
	font-family: serif;
	font-weight: bold;
	text-shadow: 2px 2px 0px #122;
 }

 #header h1 {
	margin-bottom: 0;
	font-size: 25px;
	text-shadow: 2px 2px 2px #122;
 }
 
 #footer {
 	background-color: #6C81C6;
 	color: #CCCCCC;
	font-size: 10px;
	}

#footer a:link, #footer a:visited {
 	color: #CCCCCC;
 }
 
 td, p, ul {
 	font-family: Verdana, Georgia, Times, serif;
 	font-size: 13px;
 }
 
 h1:first-child {margin-top: 0;}/*starts first h1 in TD flush top*/
 h2:first-child {margin-top: 0;}/*starts first h2 in TD flush top*/
 h3:first-child {margin-top: 0;}/*starts first h3 in TD flush top*/
 
 h1 { font-size: 160%; }
 h2 { font-size: 140%; }
 h3 { font-size: 110%; }

 h1, h2, h3, th, td b, #header h1 {
 	font-family: 'Droid Serif', serif;
 	font-weight: bold;
 }
 
 #contenttable {
 	font-size: 13px;
 	text-align: left;
 	width: 100%;
 	border: 0;
 }
 
 #tableheader {
 	background-color: #d8dbea;
 }
 
 #tablerow {
 	background-color: white;
 }
 
 #tablealtrow {
 	background-color: #e4e9ea;
 }
 
 #sidebar a {
 	/*/*/padding: 3px;
 	display: block;
 	border: 2px solid #CCC;
 	text-decoration: none;
 	line-height: 1em;
 	width: 100px;
 }
 
 #sidebar a:link, #sidebar a:visited {
 	color: #666;
 }
 
 #sidebar a:hover, #sidebar a:active {
 	color: #FFFFFF;
 	background-color: #6C81C6;
 	border: 2px solid #000;
 }
 
 #sidebar ul {
 	/*/*/padding-left: 3px;
 	margin-left: 3px;
 	list-style-type: none; /* */
 }
 
 #sidebar li {
 	/*/*/margin: 0px 0px 6px 0px; /* */
 }
 
 #current a {
 	color: #FFFFFF !important;
 	/*/*/background-color: #999999!important;
 	border: 2px solid #999 !important; /* */
 }

.image-right {
	float: right;
	padding: 10px;

}

.homepage .logoheader {
	display: table-row;
	font-family: serif;
}

.homepage .logoheader > * {
	display: table-cell;
}

.homepage .logoheader img {
	padding-right: 7px;
}

.homepage .logoheader div {
	vertical-align: middle;
}

.homepage .logoheader h1 {
	margin-bottom: 5px;
	text-shadow: 4px 4px 6px silver;
	font-weight: 700;
	font-size: 25px;
}

.homepage .logoheader .tagline {
	color: #897413;
	font-weight: bold;
}

.homepage ul {
	font-size: small;
	width: 20em;
	font-weight: bold;
}

.homepage ul li {
	margin-bottom: 1em;
}
